.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.dropdown {
    position: relative;
}

.scroll-to-top-btn {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

/* ─── Dropdown menu styles ─── */

/*.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        margin: 0 !important;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }*/

/* Show dropdown content on hover */
/*.dropdown:hover .dropdown-content {
    display: block;
}
*/


/* ────────────────────────── Mobile styles ────────────────────────── */

@media (max-width: 768px) {
    /*.sidebar {
        width: 100vw;
        height: var(--header-height);
        position: fixed;
        left: 0;
        top: 0;
        overflow: visible;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-image:none;
    }

    .sidebar-header {
        width: var(--header-height);
        height: 75px;
        padding: 10px;
        flex: 0 0 auto;
    }

    .sidebar-body {
        flex: 1;
        flex-direction: row;
        align-items: center;
        overflow: visible;
        background: none;
        padding-left: 10%;
        height: var(--header-height);
        background-image: linear-gradient(90deg, var(--theme-main-color) 0%, var(--theme-accent-color) 120%);
    }

    .sidebar-swap-container {
        flex: 1;
        overflow: visible;
    }

    .sidebar-btn {
        width: fit-content;
        padding: 10px;
    }*/

/*    .scroll-to-top-btn {
        display: flex;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
    }*/

/*    .nav-expand-menu {
        flex: 0 0 auto;
        margin-right: 20px;
        background: none;
        border: none;
        color: var(--theme-main-color);
    }
        .nav-expand-menu svg {
            vertical-align: unset;
        }

    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }*/
}

/* ────────────────────────── Desktop styles ────────────────────────── */

@media (min-width: 768px) {
    .nav-expand-menu {
        display: none;
    }

/*    .scroll-to-top-mobile-btn {
        display: none;
    }*/

    .page {
        flex-direction: column;
        display: flex;
        /*height: 100vh;*/ /* Full viewport height */
        /*overflow: hidden;*/ /* Prevent scrollbars on root */
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
/*
    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }*/
}
