@using Constants
@using NYC311Dashboard.Components
@using NYC311Dashboard.Services.Contracts
@inherits LayoutComponentBase
@inject ILayoutService LayoutService
@inject NavigationManager Navigation


<div class="">
    @if (Navigation.ToBaseRelativePath(Navigation.Uri) != "")
    {
        <Sidebar ToggleSidebar="@(() => LayoutService.ToggleClassName(".sidebar", "sidebar-open"))"
                 CustomSidebar="@LayoutService.CustomSidebar" />
    }

        <NavbarCustom />
        <GlobalLoadingOverlay />
        <article class="content">
            @if (Navigation.ToBaseRelativePath(Navigation.Uri) != "")
            {
                @if (!string.IsNullOrEmpty(LayoutService.Title))
                {
                    <h1>@LayoutService.Title</h1>
                }
                @if (Navigation.ToBaseRelativePath(Navigation.Uri) != "requestsreport")
                {
                    <ErrorBlock />
                }
                <button class="scroll-to-top-btn icon-btn" @onclick="LayoutService.ScrollToTop">
                    <i class="bi bi-arrow-up-circle-fill"></i>
                </button>
            }
            @Body
        </article>
</div>

@code {
    [CascadingParameter(Name = "CustomSidebar")]
    public RenderFragment? CustomSidebar { get; set; }

    protected override void OnInitialized()
    {
        LayoutService.OnSidebarChanged += StateHasChanged;
        LayoutService.OnLocationChanged += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LayoutService.CloseNavOnClick();
        }
    }

    public void Dispose()
    {
        LayoutService.OnSidebarChanged -= StateHasChanged;
        LayoutService.OnLocationChanged -= StateHasChanged;
    }
}