@inject IRequestService RequestService
@inject IChartService ChartService
@inject ILayoutService LayoutService
@inject IMessagingService MessagingService

@page "/requestsbyzip"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components
@using NYC311Dashboard.Constants
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using NYC311Dashboard.Extensions
@using NYC311Dashboard.Services.Models

@if (ShowChart)
{
    <div class="content-block">
        <h2>@Resources.title_zip_requests_chart</h2>
        <div id="@SharedJsConstants.ZipChartId" class="apex-chart-flex-container"></div>
        <hr class="section-divider" />
        <h2>@Resources.title_zip_requests_table</h2>
        <div class="table-flex-container">
            <SortableTable Items="requestsByZipHour" Options=@GetTableOptions() />
        </div>
    </div>
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private List<ZipHourTableRow> requestsByZipHour = new List<ZipHourTableRow>();
    private List<string> boroughs = new();
    private List<string> zipCodes = new();
    private HashSet<string>? selectedBoroughs = new();
    private HashSet<string>? selectedZipCodes = new();

    private Dictionary<string, List<string>> zipCodesByBorough = new();
    private Dictionary<string, HashSet<string>> selectedZipCodesByBorough = new();

    private bool chartNeedsRefresh = false;
    private bool ShowChart => requestsByZipHour != null && requestsByZipHour.Count != 0 && selectedZipCodes.Any();

    protected override void OnInitialized()
    {
        LayoutService.SetTitle(Resources.title_zip_code, Resources.title_requests_by);
    }

    protected override async Task OnInitializedAsync()
    {
        if (RequestService.Boroughs.Count == 0) // selected boroughs check necessary for checkbox null error. Always the case?
        {
            LayoutService.SetSidebar(
                LayoutService.RenderInactiveButton(Resources.data_none_available, Resources.refresh_data_boroughs_list)
        );
            return;
        }

        if (RequestService.SelectedBoroughs.Count == 0) // selected boroughs check necessary for checkbox null error. Always the case?
        {
            LayoutService.SetSidebar(
                LayoutService.RenderInactiveButton(Resources.data_none_available, string.Join(" ", string.Format(Resources.empty_selction, Resources.groupy_category_boroughs), Resources.select_boroughs_zip_code_data))
        );
            return;
        }

        await RefreshRequestsByZipHour();


        // if (RequestService.RequestsByZipHour.Count == 0) // would need to also condition on borough selection changed to keep this but maybe not worth it
        // {
        //     await RefreshRequestsByZipHour();
        // }
        // else
        // {
        //     requestsByZipHour = RequestService.RequestsByZipHour;
        // }

        requests = RequestService.Requests;
        boroughs = RequestService.Boroughs;
        zipCodes = RequestService.ZipCodes;
        selectedBoroughs = RequestService.SelectedBoroughs;
        selectedZipCodes = RequestService.SelectedZipCodes;

        // LayoutService.SetSidebar(LayoutService.RenderCheckboxDropdown(
        //      Resources.label_select_zip_codes,
        //      zipCodes,
        //      selectedZipCodes,
        //      EventCallback.Factory.Create<HashSet<string>>(this, v => selectedZipCodes = v),
        //      OnZipSelectionChanged
        //  ));

        var configs = RequestService.BoroughZipSelections.Select(b =>
        new CheckboxDropdownConfig<string>(
            Label: b.Borough,
            Options: b.AvailableZips,
            SelectedValues: b.SelectedZips,
            SelectedValuesChanged: EventCallback.Factory.Create<HashSet<string>>(this,
                v => b.SelectedZips = v),
            OnSelectionChanged: OnZipSelectionChanged
        ));

        LayoutService.SetSidebar(LayoutService.RenderMultipleCheckboxDropdowns(configs));

        chartNeedsRefresh = ShowChart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!chartNeedsRefresh)
        {
            return;
        }

        chartNeedsRefresh = false;
        await ChartService.RenderLineChart($"#{SharedJsConstants.ZipChartId}");
    }

    private async Task OnZipSelectionChanged()
    {
        await RefreshRequestsByZipHour();
        chartNeedsRefresh = ShowChart;
    }

    protected async Task RefreshRequestsByZipHour()
    {
        requestsByZipHour.Clear();

        var result = RequestService.GenerateTableByZipHour();
        if (result.IsFailure)
        {
            return;
        }

        requestsByZipHour = RequestService.RequestsByZipHour;
    }

    protected TableOptions<ZipHourTableRow> GetTableOptions()
    {
        var options = new TableOptions<ZipHourTableRow>
            {
                GroupBy = r => r.Borough,
                TableStyles = "table-flex-item"
            };

            return options;
    }

    public async ValueTask DisposeAsync()
    {
        await ChartService.DisposeApexChart();
    }
}