@inject IRequestService RequestService
@inject ILayoutService LayoutService
@page "/requests"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts

<PageTitle>@Resources.title_requests</PageTitle>

<div>
    @LayoutService.RenderButton(
    Resources.messaging_service_title_refresh,
    "pageview-btn",
    Resources.messaging_service_refresh_requests,
    GetNYC311RequestsData
    )
</div>
@if (requests != null && requests.Count != 0)
{
    <div class="content-block"> @* todo: remove if settled on indenting *@
        <SortableTable Items="requests" />
    </div>
}

@code {
    private List<RequestTableRow> requests = new List<RequestTableRow>();

    private int sortOrder = 0;

    protected override void OnInitialized()
    {
        LayoutService.SetTitle(Resources.title_download, Resources.title_requests);
    }

    protected override async Task OnInitializedAsync()
    {
        requests = RequestService.Requests;

        LayoutService.SetSidebar(
             LayoutService.RenderButton(
                 Resources.messaging_service_title_refresh,
                 "sidebar-btn",
                 Resources.messaging_service_refresh_requests,
                 GetNYC311RequestsData
             )
         );
    }

    protected async Task GetNYC311RequestsData()
    {
        await RequestService.GetNYC311RequestsDataAsync();
        requests = RequestService.Requests;
        StateHasChanged();
    }
}
