@inject IRequestService RequestService
@inject IChartService ChartService
@inject ILayoutService LayoutService

@page "/requestsbyborough"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components
@using NYC311Dashboard.Constants
@using NYC311Dashboard.Extensions
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using System.Text.Json
@using NYC311Dashboard.Services.Models

@if (ShowChart)
{
    <div class="content-block">
        <h2>@Resources.title_borough_requests_chart</h2>
        <div id="@SharedJsConstants.BoroughChartId" class="apex-chart-flex-container pageview-block"></div>
        <hr class="section-divider" />
        <h2>@Resources.title_borough_requests_table</h2>
        <div class="table-flex-container pageview-block">
            <SortableTable Items="requestsByBorough" Options=@GetTableOptions() />
        </div>
    </div>
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private List<BoroughDateTableRow> requestsByBorough = new List<BoroughDateTableRow>();
    private List<string> boroughs = new();
    private HashSet<string> selectedBoroughs = new();
    private ChartOptions chartOptions = new();

    //private DotNetObjectReference<RequestsByBorough>? dotNetRef;

    private bool chartNeedsRefresh = false;

    private bool ShowChart => requestsByBorough != null && requestsByBorough.Any() && selectedBoroughs.Any();

    protected override void OnInitialized()
    {
        LayoutService.SetTitle(Resources.title_borough, Resources.title_requests_by);
    }

    protected override async Task OnInitializedAsync()
    {
        if (RequestService.Boroughs.Count == 0)
        {
            LayoutService.SetSidebar(
                LayoutService.RenderInactiveButton(Resources.data_none_available, Resources.refresh_data_boroughs_list)
        );
            return;
        }

        if (RequestService.RequestsByBoroughDate.Count == 0)
        {
            await RefreshRequestsByBorough();
        }
        else
        {
            requestsByBorough = RequestService.RequestsByBoroughDate;
        }

        requests = RequestService.Requests;
        boroughs = RequestService.Boroughs;
        selectedBoroughs = RequestService.SelectedBoroughs;

        LayoutService.SetSidebar(LayoutService.RenderCheckboxDropdown(
             Resources.label_select_boroughs,
             boroughs,
             selectedBoroughs,
             EventCallback.Factory.Create<HashSet<string>>(this, v => selectedBoroughs = v),
             OnBoroughSelectionChanged
         ));

        chartNeedsRefresh = ShowChart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!chartNeedsRefresh)
        {
            return;
        }

        chartNeedsRefresh = false;
        await ChartService.RenderBarChart($"#{SharedJsConstants.BoroughChartId}");

        // if (firstRender)
        // {
        //     await ChartService.RenderBarChart(SharedJsConstants.ChartId, chartOptions);
        //     dotNetRef = DotNetObjectReference.Create(this);
        //     await JS.InvokeVoidAsync("notifyChartDivReady", dotNetRef);
        //     await ChartService.UpdateApexChart(chartOptions);
        // }
    }

    // [JSInvokable]
    // public async Task RenderChartFromJS()
    // {
    //     await ChartService.RenderBarChart(chartOptions);
    // }

    private async Task OnBoroughSelectionChanged()
    {
        await RefreshRequestsByBorough();
        chartNeedsRefresh = ShowChart;
    }

    protected async Task RefreshRequestsByBorough()
    {
        requestsByBorough.Clear();

        var result = RequestService.GenerateTableByBoroughDay();
        if (result.IsFailure)
        {
            return;
        }

        requestsByBorough = RequestService.RequestsByBoroughDate;
    }

    protected TableOptions<BoroughDateTableRow> GetTableOptions() // todo: move this to service? Can use common base
    {
        var options = new TableOptions<BoroughDateTableRow>
        {
            GroupBy = r => r.Borough,
            TableStyles = "table-flex-item"
        };

        return options;
    }

    public void Dispose()
    {
        //dotNetRef?.Dispose();
    }

    public async ValueTask DisposeAsync()
    {
        await ChartService.DisposeApexChart();
        //LayoutService.SetSidebar(null);
    }
}
